video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    opacity: .5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
.daily-hourly {
  font-size: 18px;
}

.stopwatch-toggle {
  font-size: 18px;
}

/**/

/** STOPWATCH **/
.stopwatch{
  background-color: gainsboro;
  padding: 10px;
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.values{
  font-size: 160%;
  color: grey;
}

@media screen and (max-width: 800px){
  .currently-selected-task {
    padding-top: 20px;
  }
}

/* */
/* DAILY CONTAINER */
  .daily-container {
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    display: none;
  }
/* */
.list-container {
  background-color: white;
  padding: 5px;
}

#button{
  width: 100%;
  display: inline-block;
  background-color:#fc999b;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  margin-top:2px;
  padding: 5px 15px;
}

.add-to-list{
  width: 100%;
  background-color: #6c757d;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding: 5px;
}

.add-to-list:hover {
  opacity: .5;
  cursor: pointer;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.list {
  background-color: white;
  margin-bottom: 0px;
}

.first-row {
  margin-bottom: 150px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {
  padding-left: 0px;
  list-style-type: none;
}

ol li {
  padding: 5px;color:#000;
  padding-left: 10px;
}

ol li:nth-child(even){background: #dfdfdf;}

.strike {
  text-decoration: line-through !important;
  opacity: .5;
}

li:hover{
  cursor: pointer;
}

.list-container{
  padding: 20px;
}

li * {
  display: inline-block;
}

/* LIST BOX */
.list-box {
  /* border: 5px solid gainsboro; */
  padding: 10px;
}

.initial-list{
  height: 20px !important;
  padding: 0px !important;
  background-color: #6c757d !important;
}

.task-list-item-container{
  padding: 10px;
}

/* TASK CONTAINER */
.task-holder {
   margin-top: 50px;
}

.list-header{
  text-transform:capitalize;
}

.list-item {
  width: 60%;
}

.time-taken {
  width: 20%;
}

.list-checkbox {
  width: 20%;
}

.time-taken{
  color: grey;
}

/* TIMER */
  .currently-selected-task {
    color: grey;
  }
/* */
/* input */

 .list-input{
   background: transparent;
   border: none;
   border-bottom: 1px solid #000000;
   padding: 2px 5px;
   width: 100%;
   margin-bottom: 10px;
   text-align: center;
 }

.list-input:focus{
  outline: none;
}

/* FOOTER */

.footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  opacity: .8;
}

.footer:hover{
  opacity: .5;
  cursor: pointer;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#add-hour {
  padding: 20px;
  z-index: 100000000;
}

#add-hour > h2:hover {
  opacity: 1 !important;
}


/* JQUERY PORTLET */
